<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% include menu %>
    <h1><%= title %></h1>
    <p>fill in the form below to sign up</p>
    <% include messages %>
    <form class="" action="/register" method="post">
      <input type="text" name="name" value="" placeholder="username">
      <input type="password" name="pass" value="" placeholder="password">
      <input type="submit" name="" value="sign up">
    </form>
  </body>
</html>
